@font-face {
    font-family: first;
    src: url(./3413twklausanne.ttf);
    font-family: second;
    src: url(./3856NeueMachina.ttf);
    font-family: third;
    src: url(./6035twklausanne.ttf);
    font-family: fourth;
    src: url(./8186twklausanne.ttf);
}
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
body{
    background-color: #F1EEE5;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(182, 114, 114);
    position: relative;
    padding-top: 3vw;
    padding-left: 3vw;
   background-image: url("https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 20% 20%;
  background-size:cover; 
  padding-bottom: 55vh;
}
#page1 h1{
   font-size: 17vw;
   font-weight: 400;
   font-family:fourth;
   line-height: 15vw;
   letter-spacing: -4px;
   color: white;
   mix-blend-mode: difference;
}
.page1-text{
    height: fit-content;
    overflow: hidden;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;


}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(241, 133, 133);

}